<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>s3browser - Folder Delete Confirm</title>
    <link rel="stylesheet" th:href="@{/app.css}">
</head>
<body>
<h1>Klasor Silme Onayi</h1>
<div th:if="${error}" class="error" th:text="${error}"></div>

<div class="box">
    <p>Asagidaki klasor ve icindeki tum dosyalar silinecek:</p>
    <p><strong th:text="${folderPrefix}"></strong></p>

    <form th:action="@{|/buckets/${bucket}/delete-folder|}" method="post">
        <input type="hidden" name="folderPrefix" th:value="${folderPrefix}">
        <input type="hidden" name="prefix" th:value="${prefix}">
        <label>
            <input type="checkbox" name="confirm" value="true">
            Evet, klasoru ve tum icerigini silmek istiyorum.
        </label>
        <br><br>
        <button type="submit">Sil</button>
        <a th:href="@{|/buckets/${bucket}?prefix=${prefix}|}">Vazgec</a>
    </form>
</div>
</body>
</html>

